apiVersion: v1
kind: Service
metadata:
    name: kafka
    namespace: scraper
spec:
    ports:
        - port: 9092
          targetPort: 9092
          name: plaintext
        - port: 9093
          targetPort: 9093
          name: controller
    selector:
        app: kafka
    clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: kafka
    namespace: scraper
spec:
    serviceName: kafka
    replicas: 1
    selector:
        matchLabels:
            app: kafka
    volumeClaimTemplates:
        - metadata:
              name: kafka-data
          spec:
              accessModes: [ReadWriteOnce]
              resources:
                  requests:
                      storage: 10Gi
    template:
        metadata:
            labels:
                app: kafka
        spec:
            containers:
                - name: kafka
                  image: confluentinc/cp-kafka:7.5.0
                  ports:
                      - containerPort: 9092
                        name: plaintext
                      - containerPort: 9093
                        name: controller
                  volumeMounts:
                      - name: kafka-data
                        mountPath: /var/lib/kafka/data
                  env:
                      - name: KAFKA_NODE_ID
                        value: '1'
                      - name: KAFKA_PROCESS_ROLES
                        value: broker,controller
                      - name: KAFKA_LISTENERS
                        value: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
                      - name: KAFKA_ADVERTISED_LISTENERS
                        value: PLAINTEXT://kafka.scraper.svc.cluster.local:9092
                      - name: KAFKA_CONTROLLER_QUORUM_VOTERS
                        value: '1@kafka.scraper.svc.cluster.local:9093'
                      - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
                        value: '1'
