apiVersion: v1
kind: Service
metadata:
    name: nginx
    namespace: scraper
spec:
    type: LoadBalancer
    ports:
        - port: 80
          targetPort: 80
          name: http
    selector:
        app: nginx
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: nginx
    namespace: scraper
spec:
    replicas: 1
    selector:
        matchLabels:
            app: nginx
    template:
        metadata:
            labels:
                app: nginx
        spec:
            containers:
                - name: nginx
                  image: nginx:alpine
                  ports:
                      - containerPort: 80
                        name: http
                  volumeMounts:
                      - name: html
                        mountPath: /usr/share/nginx/html
                        readOnly: true
            volumes:
                - name: html
                  emptyDir: {}
