apiVersion: v1
kind: Service
metadata:
    name: postgres
    namespace: scraper
spec:
    ports:
        - port: 5432
          targetPort: 5432
          name: postgres
    selector:
        app: postgres
    clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: postgres
    namespace: scraper
spec:
    serviceName: postgres
    replicas: 1
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
        spec:
            containers:
                - name: postgres
                  image: postgres:16-alpine
                  ports:
                      - containerPort: 5432
                        name: postgres
                  envFrom:
                      - secretRef:
                            name: postgres
                  volumeMounts:
                      - name: data
                        mountPath: /var/lib/postgresql/data
    volumeClaimTemplates:
        - metadata:
              name: data
          spec:
              accessModes: ['ReadWriteOnce']
              resources:
                  requests:
                      storage: 1Gi
