apiVersion: v1
kind: Service
metadata:
    name: redis
    namespace: scraper
spec:
    ports:
        - port: 6379
          targetPort: 6379
          name: redis
    selector:
        app: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: redis
    namespace: scraper
spec:
    replicas: 1
    selector:
        matchLabels:
            app: redis
    template:
        metadata:
            labels:
                app: redis
        spec:
            containers:
                - name: redis
                  image: redis:7-alpine
                  args:
                      - redis-server
                      - --maxmemory
                      - '1gb'
                      - --maxmemory-policy
                      - allkeys-lru
                  ports:
                      - containerPort: 6379
                        name: redis
