apiVersion: v1
kind: Service
metadata:
    name: web
    namespace: scraper
spec:
    ports:
        - port: 3000
          targetPort: 3000
          name: http
    selector:
        app: web
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: web
    namespace: scraper
spec:
    replicas: 1
    selector:
        matchLabels:
            app: web
    template:
        metadata:
            labels:
                app: web
        spec:
            containers:
                - name: web
                  image: indexer-web:latest
                  imagePullPolicy: IfNotPresent
                  ports:
                      - containerPort: 3000
                        name: http
                  envFrom:
                      - secretRef:
                            name: web
                  resources:
                      requests:
                          memory: 256Mi
                          cpu: 50m
                      limits:
                          memory: 1Gi
                          cpu: "1"
